@charset "UTF-8";

html {
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 320px;
    height: 100%;
}

.popMsg {
	text-align: center;
}

.waitPage {
	position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #00000070;
}

.waitPage img {
	position: absolute;
    top: 50%;
    margin-top: -100px;
}

html,
body {
	height: 100%;
    min-width: 320px;
	overflow-x:hidden;
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.bold18 {
	font-size: 18px;
	font-weight: bold;
}

.blue {
	color: #00276c;
}

.mt10 {
	margin-top: 10px;
}

.mt18 {
	margin-top: 18px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    position: relative;
}

.button {
	width: 120px;
	height: 40px;
	border: none;
	background-color: #00276c;
	cursor: pointer;
	border-radius: 15px;
	color: #fff;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

/* sorting table design customize */
.tabulator .tabulator-header .tabulator-col {
    color: #000;
    background: #ededed;
    /* padding: 5px 0px; */
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-right:solid 1px #ddd;
    border-bottom: solid 1px #dddddd;
    text-align: center;
    /*display: table-cell;*/
}
.tabulator .tabulator-header .tabulator-col:last-child {
    border-right:none;
}
.tabulator .tabulator-header {
    border-bottom: none;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    padding: 4px 0px;
}
.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
    /* padding :4px 0px; */
}
.tabulator-row .tabulator-cell {
    border-right: none;
    border-bottom: solid 1px #ddd;
    background: #fff;
    padding: 2px 5px;
    font-size: 11px;
    background: #fff;
    border-bottom: solid 1px #e1e1e1;
    text-align: center;
    border-right: solid 1px #e1e1e1;
}
.tabulator-row .tabulator-cell:last-child {
    border-right:none;
}

.tabulator-row.tabulator-row {
    background: #fff;
}

.tabulator-row.tabulator-row:hover .tabulator-cell {
    background: #eff3f8;
}

.tabulator {
    background: transparent;
    border: none;
}

/*다중 선택*/
.multi_sel_wrap {
    position: relative;
    margin-right: 30px;
}

.multi_sel {
    padding: 4px 30px 4px 10px;
    background: url(../images/select.png) no-repeat right center #fff;
    border: solid 1px #ddd;
    font-size: 11px;
}

.multi_sel_wrap.on .multi_sel {
    background: url(../images/select_down.png) no-repeat right center #fff;
}

.multi_box {
    z-index: 10;
    position: absolute;
    top: 100%;
    display: none;
    left: 0;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.4);
    width: max-content;
    background: #fff;
}

.multi_sel_wrap.on .multi_box {
    display: block;
}

.multi_sel_wrap .multi_box table {
    display: table-cell;
    width: auto;
}

.multi_sel_wrap .multi_box table tr th {
    text-align: center;
    padding: 5px;
    border: solid 1px #ddd;
    background: #efefef;
    width: auto;
}

.multi_sel_wrap .multi_box table tr td {
    border: solid 1px #ddd;
    padding: 4px;
    text-align: center;
}

.multi_sel_wrap .multi_box table tr:hover td {
    cursor: pointer;
    background: #eff3f8;
}

.sel_tab > div {
    display: none;
}

.sel_tab > div.on {
    display: block;
}

/*.multi_box > ul {
    display: flex;
    background: #fff;
}

.multi_box > ul > li {
    border-right: solid 1px #ddd;
}

.multi_box > ul > li:last-child {
    border-right: 0;
}

.multi_box ul ul {
    display: block;
    width: 100%;
}

.multi_box > ul > li ul li {
    display: block;
    width: 100%;
}

.multi_box ul li span {
    background: #f4f4f4;
    padding: 5px 10px;
    display: block;
    font-weight: bold;
    border-bottom: solid 1px #ddd;
    font-size: 11px;
    width: 100%;
}

.multi_box ul li ul li a {
    display: block;
    padding: 5px 10px;
    font-size: 11px;
    width: 100%;
}

.multi_box ul li ul li a.on {
    background: #e1e1e1;
}*/

/*로그인*/
.login {
    background: url(../images/login_bg.gif) no-repeat center left;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .login_box {
    width: 95%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.15);
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.login .login_box .login_left {
    padding: 130px 0px 120px;
    background: url(../images/login_right_blue.png) no-repeat right bottom #0f7be7;
    text-align: center;
    width: 50%;
}


.login .login_box .login_left .top_logo {
    text-align: left;
    padding-left: 13%;
    margin-bottom: 20px;
}

.login .login_box .login_left .top_logo img {
    max-width: 180px;
    display: inline-block;
}

.login .login_box .login_left h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 280px;
    font-family: 'S-CoreDream';
    letter-spacing: -0.02em;
    color: #ffd800;
}

.login .login_box .login_left .logo {}

.login .login_box .login_left .logo img {
    width: 100%;
    max-width: 190px;
}

.login .login_box .login_right {
    width: 50%;
    text-align: center;
}

.login .login_box .login_right h2 {
    padding: 80px 0px 20px;
    font-size: 50px;
    color: #007af7;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}

.login .login_box .login_right .lg_form {
    padding: 0px 40px;
}

.login .login_box .login_right .lg_form ul {
    display: flex;
    flex-direction: column;
}

.login .login_box .login_right .lg_form ul li {
    margin-bottom: 10px;
}

.login .login_box .login_right .lg_form ul li input {
    border: none;
    width: 100%;
    display: block;
    line-height: 40px;
    font-size: 16px;
    padding-left: 40px;
    height: 40px;
    border-bottom: solid 1px #ddd;
}

.login .login_box .login_right .lg_form ul li input.id {
    background: url(../images/login_id.png) no-repeat 10px center;
}

.login .login_box .login_right .lg_form ul li input.pw {
    background: url(../images/login_pw.png) no-repeat 10px center;
}

.login .login_box .login_right .lg_form .login_fnc {
    display: flex;
    justify-content: space-between;
}

.login .login_box .login_right .lg_form .login_fnc .lt {}

.login .login_box .login_right .lg_form .login_fnc .lt input {}

.login .login_box .login_right .lg_form .login_fnc .lt label {
    font-family: 'Noto Sans KR';
}

.login .login_box .login_right .lg_form .login_fnc .rt {}

.login .login_box .login_right .lg_form .login_fnc .rt a {
    font-size: 14px;
    font-family: 'Noto Sans KR';
}

.login .login_box .login_right .lg_form .btn_wrap {
    text-align: center;
    padding: 20px 0px;
}

.login .login_box .login_right .lg_form .btn_wrap .btn_signin {
    padding: 10px 40px;
    color: #007af7;
    display: inline-block;
    border: solid 1px #007af7;
    font-weight: bold;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

.login .login_box .login_right .lg_form .btn_wrap .btn_signin:hover {
    border: solid 1px #0253a7;
    color: #0253a7;
}

.login .login_box .login_right .login_board {
    border-top: dashed 1px #ddd;
    margin-top: 70px;
    padding: 30px 40px;
}

.login .login_box .login_right .login_board h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Noto Sans KR';
    color: #000;
}

.login .login_box .login_right .login_board .tbl_wrap {}

.login .login_box .login_right .login_board .tbl_wrap .login_list {
    border-top: none;
}

.login .login_box .login_right .login_board .tbl_wrap .login_list tr {}

.login .login_box .login_right .login_board .tbl_wrap .login_list tr th {
    background: #007af7;
    font-family: 'Noto Sans KR';
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px #007af7;
    padding: 8px 2px;
    text-transform: uppercase;
}

.login .login_box .login_right .login_board .tbl_wrap .login_list tr td {
    font-family: 'Noto Sans KR';
    color: #575757;
    font-size: 12px;
    border-bottom: solid 1px #dddddd;
    padding: 7px 3px;
    line-height: 1.4;
}

.login .login_box .login_right .login_board .tbl_wrap .login_list tr th.pc,
.login .login_box .login_right .login_board .tbl_wrap .login_list tr td.pc {
    display: table-cell;
}






.tab_wrap {}

.tab_wrap .tab_tit {}

.tab_wrap .tab_tit li {}

.tab_wrap .tab_tit li a {}

.tab_wrap .tab_tit li a.on {}

.tab_wrap .tab_cont {}

.tab_wrap .tab_cont .tab_div {
    display: none;
}

.tab_wrap .tab_cont .tab_div.on {
    display: block;
}

.line {
    display: flex;
    flex-wrap: wrap;
}

.line .left {
    margin-bottom: 5px;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.line .right {
    margin-left: auto;
    margin-bottom: 5px;
}

.gray_small_box .user_name {
    display: flex;
    flex-wrap: wrap;
}

.gray_small_box .user_name li {
    margin-right: 15px;
    font-size: 11px;
}

.button {
    margin-bottom: 2px;
}

#transmittal_left section.resizable {
    flex: 0 0 340px;
}

.wsmall {
    width: 40% !important;
    max-width: 150px !important;
}

.tblInTab {
    vertical-align: top;
    padding: 15px !important;
}

.tblInTab .id_tab {}

.tblInTab .id_tab .id_tab_tit {}

.tblInTab .id_tab .id_tab_tit ul {
    display: flex;
}

.tblInTab .id_tab .id_tab_tit ul li {
    margin-right: 2px;
    text-align: center;
}

.tblInTab .id_tab .id_tab_tit ul li a {
    font-size: 11px;
    padding: 5px 10px;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    border: Solid 1px #0253a7;
    color: #0253a7;
}

.tblInTab .id_tab .id_tab_tit ul li a.on {
    background: #0253a7;
    color: #fff;
}

.tblInTab .id_tab .id_tab_cont {}

.tblInTab .id_tab .id_tab_cont .box {
    display: none;
    max-height: 100px;
    overflow-y: auto;
}

.tblInTab .id_tab .id_tab_cont .box.on {
    display: block;
}

.id_tab_cont table {
    position: relative;
    margin-top: 0;
    z-index: 1;
}

.id_tab_cont table tr th {
    border: solid 1px #ddd !important;
}

.inDis {
    vertical-align: top;
}

.half {
    width: 45% !important;
    max-width: 100px;
}

.boardCont {
    min-height: 150px;
}

.fileDown {
    margin-right: 5px;
    text-decoration: underline !important;
}

.fileDown:hover {
    color: #e67d42
}

.reportEngStat {
    display: flex;
    flex-wrap: wrap;
}

.reportEngStat .left {
    width: 65%;
    display: inline-flex;
    flex-wrap: wrap;
    height: fit-content;
}

.reportEngStat .left span {
    width: 33.333333%;
    display: inline-block;
    margin-bottom: 5px;
}

.reportEngStat .right {
    width: 35%;
}




@media all and (max-width:1500px) {
    #transmittal_left section.resizable {
        width: 100%;
        flex: auto;
    }

    #transmittal_left .row {
        flex-wrap: wrap;
    }

    #transmittal_left section.resizable {
        width: 100%;
        flex: auto;
    }

    #transmittal_left section#pop_ed_right {
        width: 100%;
        flex: auto;
    }

    #transmittal_left section.resizable {
        width: 100%;
        flex: auto;
    }

    #transmittal_left .row {
        flex-wrap: wrap;
    }

    #transmittal_left section.resizable {
        width: 100%;
        flex: auto;
    }

    #transmittal_left section#pop_ed_right {
        width: 100%;
        flex: auto;
    }
}

@media all and (max-width:1200px) {

    .reportEngStat .left {
        width: 100%;
    }

    .reportEngStat .right {
        width: 100%;
        margin-top: 20px;
    }
}

@media all and (max-width:960px) {
    .tab_wrap .tab_cont .tab_div button {
        margin-bottom: 3px;
    }
}

@media all and (max-width:768px) {
    .login .login_box {
        margin: 40px auto;
        padding-top: 50px;
    }


    .login .login_box .login_left {
        width: 100%;
        padding: 50px 0px;
    }

    .login .login_box .login_left h1 {
        margin-bottom: 50px;
        font-size: 35px;
    }

    .login .login_box .login_left .logo img {
        max-width: 100px;
        width: 100%;
    }

    .login .login_box .login_right {
        width: 100%;
    }

    .login .login_box .login_right h2 {
        padding-top: 30px;
        font-size: 30px;
    }

    .login .login_box .login_right .login_board {
        margin-top: 30px;
    }

    .line .right {
        margin-left: inherit;
    }

    .multi_sel_wrap.on .multi_box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: fit-content;
    }

    .multi_sel_wrap.on .multi_box > ul {
        flex-wrap: wrap;
        width: 100%;
    }
}

.multi_sel_wrap.on .multi_box > ul > li {}

.proj_general {
    margin-bottom: 30px;
    width: 250px;
    float: left;
    padding-right: 30px;
}

.proj_general ul {}

.proj_general ul li {
    margin-bottom: 16px;
    position: relative;
}

.proj_general ul li::after {
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/menu_2dth_off.png) no-repeat center center;
    display: block;
    content: '';
    width: 30px;
    height: 10px;
    background-size: 10px;
}

.proj_general ul li:last-child::after {
    display: none;
}

.proj_general ul li a {
    display: block;
    word-break: keep-all;
    padding: 10px;
    background: #f1f1f1;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.proj_general ul li a.on {
    background: #db7334;
    color: #ffff;
    border: solid 2px #db7334;
}

#pg01 .pg_tree {
    display: inline-block;
    border: solid 1px #ddd;
    border-bottom: solid 3px #ddd;
    padding: 10px 20px;
}

.pg .pg_tree {
    display: inline-block;
    border: solid 1px #ddd;
    border-bottom: solid 3px #ddd;
    padding: 10px 20px;
}

.pg_cont {
    float: left;
    width: calc(100% - 250px);
}

.pg_cont .pg.on {
    display: block;
}

.pg_cont .pg {
    display: none;
}

.pg_cont .pg h4 {}

.pg_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.pg_top .left {
    margin-bottom: 5px;
}

.pg_top .left > * {
    /*line-height:25px;*/
}

.pg_top .right {
    margin-left: auto;
    margin-bottom: 5px;
}

.pg_cont .pg .num_set {}

.pg_top p {
    width: 100%;
    color: #dd1100;
    font-weight: bold;
    font-size: 12px;
    margin: 5px 0px;
}

.pg_cont .pg .num_set .tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pg_cont .pg .num_set .tables .tbl4 {
    width: 24%;
    background: #f7f7f7;
    padding: 10px;
}

.pg_cont .pg .num_set .tables .tbl4 .tbl_wrap {
    margin-bottom: 0;
}

.jstree-default .jstree-node {
    min-height: 20px;
    line-height: 20px;

}

.jstree-default .jstree-open > .jstree-ocl {
    background-position: -132px -7px;
}

.jstree-default .jstree-closed > .jstree-ocl {
    background-position: -100px -7px;
}

.jstree-default .jstree-anchor {
    line-height: 20px;
    height: 20px;
}

.jstree-default .jstree-icon:empty {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.jstree-default .jstree-themeicon {
    background-position: -260px -5px;
}

.acco {
    margin-bottom: 5px;
}

.acco h4 {
    cursor: pointer;
    background: #c1c6cf;
    margin-bottom: 0;
    padding: 5px;
    color: #fff;
}

.acco h4::before {
    position: static;
    content: '';
    width: 10px;
    margin-right: 2px;
    height: 16px;
    vertical-align: middle;
    background: url(../images/nav_select.png) no-repeat left center;
    display: inline-block;
}

.acco.on h4::before {
    background: url(../images/nav_select_on.png) no-repeat left center;
}

.acco .tbl_wrap {
    display: none;
}

.acco .tbl_wrap::before {
    display: none;
}

.acco .tbl_wrap table {
    border-top: solid 1px #ddd;
}

.sch_area {
    background: #f9f9f9;
    padding: 10px;
}

/*.sch_area .button {
    color:#fff !important;
    border:solid 1px #fff !important;
}*/
.sch_opt h4 {
    font-size: 12px;
    /* color:#fff;*/
}

/*.sch_opt .sec:first-child h4::before {
    background:#fff;
} */
.tab_cont hr {
    display: block;
    height: 3px;
    border-bottom: 1px dotted #aaa;
    margin: 15px 0px 15px;
    border-top: 1px dotted #aaa;
}

.dialog hr {
    display: block;
    height: 3px;
    border-bottom: 1px dotted #aaa;
    margin: 15px 0px 15px;
    border-top: 1px dotted #aaa;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 10px;
}

.sch_top {
    padding: 10px 10px 5px;
    border-bottom: dashed 1px #aaa;
}

.result_line {
    position: relative;
}

.result_line::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-bottom: dashed 1px #ccc;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.result_line span {
    background: #fff;
    display: inline-block;
    z-index: 1;
    position: relative;
    line-height: 1;
    margin: 5px 0px;
    padding: 10px 8px 10px 0px;
    font-size: 16px;
    font-weight: bold;
}

.project_tab {
    display: block;
    width: 100%;
}

.project_tab .pr_tab_tit {
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
    display: flex;
}

.project_tab .pr_tab_tit li {}

.project_tab .pr_tab_tit li a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 3px;
    background: #efefef;
    display: inline-block;
    color: #999999;
}

.project_tab .pr_tab_tit li a.on {
    background: #fff;
    color: #000;
    border-bottom: solid 1px #fff;
}

.pr_tab_cont {}

.pr_tab_cont .btn_wrap {
    width: 100%;
}

.pr_tab_cont .pr_box {
    display: none;
}

.pr_tab_cont .pr_box.on {
    display: flex;
    flex-wrap: wrap;
}

.pr_tab_cont .btn_wrap {
    text-align: right;
    margin-bottom: 3px;
}

.pr_tab_cont .pr_box .pr_left {
    width: calc(50% - 30px);
    padding-right: 10px;
}

.pr_tab_cont .pr_box strong {
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    line-height: 25px;
    vertical-align: middle;
}

.pr01.on {
    display: flex;
}

.pr02.on {
    display: flex;
}

.pr02 .pg_top.w100 {
    width: 100%;
}

.pr_tab_cont .pr_box .pr_mid {
    width: 60px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pr_tab_cont .pr_box .pr_mid button {
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    margin: 2px;
    display: inline-block;
}

.pr_tab_cont .pr_box .pr_mid button.toright {
    background: url(../images/btn_toright.png) no-repeat center center;
}

.pr_tab_cont .pr_box .pr_mid button.toleft {
    background: url(../images/btn_toleft.png) no-repeat center center;
}

.pr_tab_cont .pr_box .pr_mid button.toright:hover {
    background: url(../images/btn_toright.png) no-repeat center center #efefef;
}

.pr_tab_cont .pr_box .pr_mid button.toleft:hover {
    background: url(../images/btn_toleft.png) no-repeat center center #efefef;
}

.pr_tab_cont .pr_box .pr_right {
    width: calc(50% - 30px);
}

.pr_tab_cont .pr_box .pr_right .pg_top {}

.pr_tab_cont .pr_box .pr_right .pg_top .left {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    align-items: center;
}

.pr_tab_cont .pr_box .pr_right .pg_top .left > * {
    margin-bottom: 0;
}

.pr_tab_cont .pr_box .pr_right .pg_top .left strong {}


.autoSet_tab {
    display: block;
    width: 100%;
}

.autoSet_tab .as_tab_tit {
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
    display: flex;
}

.autoSet_tab .as_tab_tit li {}

.autoSet_tab .as_tab_tit li a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 3px;
    background: #efefef;
    display: inline-block;
    color: #999999;
}

.autoSet_tab .as_tab_tit li a.on {
    background: #fff;
    color: #000;
    border-bottom: solid 1px #fff;
}

.as_tab_cont {}

.as_tab_cont .btn_wrap {
    width: 100%;
}

.as_tab_cont .as_box {
    display: none;
}

.as_tab_cont .as_box.on {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.as_tab_cont .btn_wrap {
    text-align: right;
    margin-bottom: 3px;
}

.as01.on {
    display: flex;
}

.as02.on {
    display: flex;
}

.as_tab_cont .as_left {
    width: 250px;
}

.as_tab_cont .as_right {
    width: calc(100% - 280px);
}

h5 {
    font-size: 11px;
    font-weight: bold;
    color: #336699;
    line-height: 25px;
}

.as_tab_cont input[type="checkbox"] + label {
    padding-left: 0;
}

.as_ul {
    border: solid 1px #ddd;
}

.as_ul li {}

.as_ul li a {
    display: block;
    line-height: 20px;
    padding: 5px;
}

.as_ul li a:hover {
    background: #efefef;
}

.as_right .pg_top .left {
    margin-bottom: 0;
}

.mailt {
    display: flex;
    justify-content: space-between;
}

.userReg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.userReg > .left {
    width: 35%;
    border: solid 1px #ddd;
    border-bottom: solid 3px #ddd;
}

.userReg > .left .group_sch {
    border-bottom: solid 1px #ddd;
    background: #fafafa;
    padding: 15px;
}

.userReg > .left .group_sch .btn_wrap {}

.userReg > .left .group_sch .btn_wrap .line {
    margin-top: 10px;
}

.userReg > .left .group_sch .btn_wrap .info.red {
    color: red;
    display: block;
    padding: 3px 0px;
}

.userReg > .left .group_sch_tree {
    padding: 15px;
}

.userReg > .right {
    padding-left: 30px;
    width: 65%;
}

.groupLevel {
    padding: 3px;
    display: block;
    margin: 5px 0px;
    background: #efefef;
    border: solid 1px #ddd;
    line-height: 1;
}

.groupLevel span {
    display: inline-block;
}

p.red {
    color: red;
}

.pop_chgGroup .pg_tree {
    padding: 10px;
    border: solid 1px #ddd;
    margin-bottom: 10px;
}

.docCtrlBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dcb_left {
    width: 300px;
    padding: 10px;
    border: solid 1px #ddd;
    max-height: 600px;
    overflow-y: auto;
}

.dcb_right {
    width: calc(100% - 300px);
    padding-left: 20px;
}

.folderMngBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.folderMngLeft {
    border: solid 1px #ddd;
    padding: 5px;
    margin-bottom: 10px;
    width: 250px;
}

.folderMngRight {
    width: calc(100% - 250px);
    padding-left: 30px;
}

.folderMngLi {
    border: solid 1px #ddd;
}

.folderMngLi li a {
    display: block;
    line-height: 20px;
    padding: 5px;
}

.folderMngLi li a:hover {
    background: #efefef;
}

.left_b {
    line-height: 25px;
    display: block;
}

.p_ed_left {
    padding: 20px;
}

h4 i {
    font-size: 0.75em;
    color: #999999;
    font-style: normal;
}

#docProgress,
#transHis {
    height: auto !important;
}

.step {
    display: flex;
    flex-wrap: wrap;
}

.step span {
    display: inline-block;
    border: solid 1px #1559dc;
    border-radius: 50px;
    padding: 5px 10px;
    color: #1559dc;
    margin-right: 15px;
    position: relative;
}

.step span::after {
    content: '→';
    top: 50%;
    transform: translateY(-50%);
    right: -13px;
    font-weight: bold;
    position: absolute;
}

.step span:last-child::after {
    display: none;
}

.file_tbl {
    display: flex;
    width: 100%;
}

.file_tbl .tbl_wrap {
    width: calc(100% - 100px);
}

.file_tbl .btns {
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.file_tbl .btns button {
    margin: 3px 0px;
    max-width: 80px;
}

.tbl_wrap table.innerTbl {
    border-top: solid 1px #ddd;
    ;
    background: none;
}

.tbl_wrap .write tr td.merge.txt_left {
    vertical-align: sub;
}

.tbl_wrap table.nonTop {
    border-top: none;
    margin-top: 0;
}

.tbl_wrap table.nonTop tr td {
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    padding: 6px;
    text-align: center;
}

.tbl_wrap table.nonTop tr td:last-child {
    border-right: none;
}

.tbl_wrap table.nonTop tr td img {
    max-width: 50px;
    max-height: 50px;
}

.tbl_wrap table.nonTop tr.names td {
    font-weight: bold;
}

.appr {
    display: flex;
    flex-wrap: wrap;
}

.appr > .left {
    width: 200px;
    border: solid 1px #ddd;
}

.appr > .right {
    width: calc(100% - 200px);
    padding-left: 30px;
}

.sch_notTbl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sch_notTbl span {
    margin-right: 10px;
    display: inline-block;
}

.item_tr td.txt_center .btn_small {
    padding: 3px;
}

.whiteBg {
    border-color: #fff;
    background: #fff;
    padding: 0px;
    border: none;
}

.whiteBg section {
    border-color: #fff;
    background: #fff !important;
    ;
    padding: 5px !important;
}

.progress {
    width:100%;
    background: #e9e5e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#e9e5e2));
    background-image: -webkit-linear-gradient(top, #dddddd, #e9e5e2);
    background-image: -moz-linear-gradient(top, #dddddd, #e9e5e2);
    background-image: -ms-linear-gradient(top, #dddddd, #e9e5e2);
    background-image: -o-linear-gradient(top, #dddddd, #e9e5e2);
    background-image: linear-gradient(top, #dddddd, #e9e5e2);
    height: 20px;
    border-radius: 0px;
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    box-shadow: 0 1px 0px #bbbbbb inset, 0 1px 0 #fcfcfc;
}

.bar {
background:#298b88;
    height:100%;
    -webkit-transition: width 1.50s ease !important;
    -moz-transition: width 1.50s ease !important;
    -o-transition: width 1.50s ease !important;
    transition: width 1.50s ease !important;
}
.ui-widget-overlay {
   opacity: .30;
   filter: Alpha(Opacity=30);
}
.icon_tbl img.i{
	max-width: inherit;
	height: 14px !important;
	display: inline-block;
}

@media all and (max-width:1600px) {

    .pg_cont .pg .num_set .tables .tbl4 {
        width: 49%;
        margin-bottom: 10px;
    }
}

@media all and (max-width:1400px) {
    .pr_tab_cont .pr_box {
        flex-direction: column;
    }

    .pr_tab_cont .pr_box .pr_left {
        width: 100%;
        padding: 0;
    }

    .pr_tab_cont .pr_box .pr_mid {
        flex-direction: row;
        width: 100%;
        margin: 10px 0px;
    }

    .pr_tab_cont .pr_box .pr_right {
        width: 100%;
    }

    .pr_tab_cont .pr_box .pr_mid button.toright {
        transform: rotate(90deg);
    }

    .pr_tab_cont .pr_box .pr_mid button.toleft {
        transform: rotate(90deg);
    }
}

@media all and (max-width:1200px) {
    .pg_cont .pg .num_set .tables .tbl4 {
        width: 99%;
    }

    .login .login_box .login_left .top_logo {
        padding-left: 0;
        text-align: center;
    }

    .item_tr td.txt_center .btn_small {
        margin: 0 !important;
        margin-bottom: 3px !important;
    }

    .sch_notTbl > div:first-child {
        margin-bottom: 5px;
    }
}

@media all and (max-width:768px) {

    .dcb_left,
    .folderMngLeft,
    .folderMngRight {
        width: 100%;
        padding: 0;
    }

    .multi_sel_wrap.on .multi_box > ul > li {
        width: 100%;
    }

    .proj_general {
        padding-right: 0;
        width: 100%;
    }

    .proj_general ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .proj_general ul li {
        width: calc(50% - 3px);
    }

    .pg_cont {
        width: 100%;
    }

    .proj_general ul li a {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .proj_general ul li {
        margin-bottom: 7px;
    }

    .proj_general ul li::after {
        display: none;
    }

    .as_tab_cont .as_left {
        width: 100%;
    }

    .as_tab_cont .as_right {
        width: 100%;
    }

    input[type='text'].long,
    input[type='password'].long {
        width: auto;
    }

    .pg_tree {
        width: 100%;
    }

    .ui-dialog .ui-dialog-content {
        max-height: 400px !important;
    }

    .userReg > .left {
        width: 100%;
        margin-bottom: 20px;
    }

    .userReg > .right {
        width: 100%;
        padding: 0;
    }

    .step span {
        margin-bottom: 5px;
    }
}

@media all and (max-width:640px) {
    .login {
        display: grid;
    }

    .login .login_box .login_left {
        padding: 30px 0;
    }

    .login .login_box .login_left h1 {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .login .login_box .login_left .logo {
        display: none;
    }

    .login .login_box .login_right h2 {
        padding: 20px 0px 10px;
        font-size: 20px;
    }

    .login .login_box .login_right .lg_form {
        padding: 0px 20px;
    }

    .login .login_box .login_right .lg_form .btn_wrap .btn_signin {
        padding: 7px 50px;
    }

    .login .login_box .login_right .login_board {
        padding: 30px 20px;
        margin-top: 10px;
    }

    .login .login_box .login_right .login_board .tbl_wrap .login_list tr th.pc,
    .login .login_box .login_right .login_board .tbl_wrap .login_list tr td.pc {
        display: none;
    }

    .proj_general ul li {
        width: 100%;
    }

    .proj_general ul li a {
        padding: 6px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    #pg01 .pg_tree {
        width: 100%;
    }

    .proj_general ul {
        justify-content: flex-start;
    }

    .proj_general ul li {
        display: inline-block;
        margin-right: 7px;
        width: auto;
    }

    .proj_general ul li::after {
        display: none;
    }

    .login .login_box {
        padding-top: 0;
    }

    .login .login_box .login_left .top_logo img {
        max-width: 150px;
    }

    .pg_top .left > * {
        margin-bottom: 3px;
    }

    .reportEngStat .left span {
        width: 50%;
    }
}

@media all and (max-width:480px) {

    .proj_general ul li {
        width: 100%;
        margin-right: 0;
    }
}

/* 21-12-24 수정 */

.jstree-default-large .jstree-checkbox{
	background-position: -163px -5px;
}
.jstree-default-large .jstree-checkbox:hover{
	background-position: -163px -37px;
}
.jstree-default-large.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox,
.jstree-default-large .jstree-checked>.jstree-checkbox{
	background-position: -227px -5px;
}
.jstree-default-large.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox:hover,
.jstree-default-large .jstree-checked>.jstree-checkbox:hover{
	background-position: -227px -37px;
}
.jstree-default-large .jstree-anchor>.jstree-undetermined{
	background-position: -195px -5px;
}
.jstree-default-large .jstree-anchor>.jstree-undetermined:hover{
	background-position: -195px -37px;
}
.jstree-default-large>.jstree-no-dots .jstree-open>.jstree-ocl{
	background-position: -34px -6px;
}
.jstree-default-large>.jstree-no-dots .jstree-closed>.jstree-ocl{
	background-position: -2px -6px;
}

/* 21-12-24 수정 */

.ui-dialog .ui-dialog-content.height_reset {
	height: auto !important;
	max-height:100% !important;
}
.ui-widget.ui-widget-content.wd100 {
	max-width:100% !important;
}